<!-- index.html -->
	<!DOCTYPE html>
	<html ng-app="kpsApp">
	<meta charset="utf-8"> 
	<head>
	  <!-- SCROLLS -->
	  <!-- load bootstrap and fontawesome via CDN -->
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

	  <!-- SPELLS -->
	  <!-- load angular via CDN -->
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-route.min.js"></script>
        <script src="../script.js"></script>
	   <script src="../addMailItemCtrl.js"></script>


	</head>
	<body ng-controller="addMailItemController">

	<ul>
        <li><label>Volume(M): </label>  <input ng-model="input1" ng-trim="false" custom-validation> </li>
        <li><label>Weight(KG): </label>  <input ng-model="input2" ng-trim="false" custom-validation></li>
        <li><label>Dimension </label>
            <ul>
                <li><label>Height(M): </label>  <input ng-model="input3" ng-trim="false" custom-validation> </li>
                <li><label>Width(M): </label>  <input ng-model="input4" ng-trim="false" custom-validation> </li>
                <li><label>Length(M): </label>  <input ng-model="input5" ng-trim="false" custom-validation> </li>
        </ul></li>
        <li>  <label>Route: </label> <select ng-init="selectBox2 = selectBox2 || dataRoute[0].Route" ng-model="selectBox2" ng-options="datum.Route as datum.Route.destination + ' (' + datum.Route.priority + ')' for datum in data"></select>
        </li>
        <li><label>Price: </label> ${{selectBox2.weightPrice * input2 + selectBox2.volumePrice * input1}}</li>
	</ul>

	</body>
	</html>
