<!-- index.html -->
<!DOCTYPE html>
<html ng-app="kpsApp">
<meta charset="utf-8">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="../angular/angular.js"></script>
    <script src="../angular/angular-route.js"></script>
    <script src="../angular/ng-table.js"></script>
    <script src="../script.js"></script>

    <script src = "Dijkstra.js"></script>
    <script src = "DirectedGraph.js"></script>


</head>

<div ng-controller="addMailItemController">
    <form name="addMailItem" class="css-form" >

        <table>
            <tr>
                <td>
                    <label>Height(Centimeter): </label></td>
                <td><input name="input3" type="number" ng-model="mailItem.Height" ng-change=" updateVol(mailItem)" ng-trim="false" min="1" max="{{mailItem.destination.maxVolume}}" required/></td>
            </tr>
            <tr>
                <td>
                    <label>Width(Centimeter): </label></td>
                <td><input name="input4" type="number" ng-model="mailItem.Width" ng-change=" updateVol(mailItem)" ng-trim="false" min="1" max="{{mailItem.destination.maxVolume}}" required/></td>
            </tr>
            <tr>
                <td>
                    <label>Length(Centimeter): </label></td>
                <td><input name="input5" type="number" ng-model="mailItem.Length" ng-change=" updateVol(mailItem)" ng-trim="false" min="1" max="{{mailItem.destination.maxVolume}}" required/></td>   </tr>
            <tr>
                <td><label>Volume(Cubic Centimeter):</label></td>
                <td><label ng-model="mailItem.Volume"> {{mailItem.Volume || ""}}</label>
            </tr>
            <tr>
                <td><label>Weight(Grams): </label></td>
                <td><input name="input6" type="number" ng-model="mailItem.Weight" ng-change=" updateVol(mailItem)" ng-trim="false" min="1" max="{{mailItem.destination.maxWeight}}"  required/></td>
            </tr>
            <tr>
                <td><label>From: </label></td>
                <td><select ng-init="" ng-model="mailItem.origin"
                            ng-options="datum as datum for datum in points"
                            ng-click="getRoute(mailItem)"
                            required></select></td>
            </tr>
            <tr>
                <td><label>To: </label></td>
                <td><select ng-init="" ng-model="mailItem.destination"
                            ng-options="datum as 'Route : ' + datum.destination + ' - ' + datum.company +' : ' + datum.priority for datum in fromRoute"
                            ng-click="getPrice(mailItem)"
                            required></select></td>
            </tr>
            <tr>
                <td><label >Price: </label></td>
                <td><label>
                    ${{mailItem.Price || ""}} </label>
                </td>

            </tr>

            <tr>
          <td>  <button type="submit" class="btn btn-success"
                    ng-disabled="addMailItem.$invalid"
                    ng-click="submit(mailItem)"
                    >Submit
            </button>
            <button type="submit" class="btn btn-danger">Cancel</button></td>
            </tr>
            <tr><td></td><td>
                <label> Update Status:</label> {{updateMessage}}

            </td></tr>
        </table>
      <div class="kpsfooter">
    <div>
        <p ng-controller="addMailItemController">
            <label class="kp-badge" >
                Events Processed :   {{figures.events}}
            </label>
                        <label class="kp-badge" >
                Items Processed :   {{figures.sysItems}} Total Weight : {{figures.sysItemsWeight}} gms Total Volume: {{figures.sysItemsVolume}} cm^3
            </label>
            <label class="kp-badge" >
                Total Revenue : $ {{figures.totalRevenue}}
            </label>
            <label class="kp-badge" >
                Total Expenditure : $ {{figures.totalExpenditure}}
            </label>
            <label class="kp-badge" >
                Average Delivery Time :  {{figures.averageTime}} Days
            </label>
            <div class = "kp-red-badge"> Routes Running At A Loss:
            <li ng-repeat="crits in figures.critRoutes">{{crits.Destination}} : {{crits.Origin}} : {{crits.Priority}} : {{crits.Difference}}
            </li>
        </div>
        </p>
    </div>
</div>      
    </form>
</div>

</html>
