<!-- index.html -->
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<form name="addRouteFrom" action="">
    <h3>Add Route</h3>

    <div ng-controller="addRouteController">

        <div>
            <table>

                <tr>
                    <td>
                            <label>Company :</label>
                    </td>
                    <td>

                            <input placeholder="{{placeHolder}}"
                                   id="companyInput"
                                   type="text"
                                   name="company"
                                   ng-model="addRoute.company"
                                   required>

                    </td>
                    <td>
                        <button type="submit" class="btn btn-success"
                                ng-disabled="addRouteFrom.$invalid"
                                ng-click="submit()"
                                >Submit
                        </button>
                        <button type="submit" class="btn btn-danger">Cancel</button>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>Destination : </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input placeholder="{{placeHolder}}"
                                   id="destination"
                                   ng-model="addRoute.destination"
                                   required>
                        </div>
                    </td>
                </tr>
                <td>
                    <div>
                        <label>Type: </label>
                    </div>
                </td>
                <td>
                    <div>
                        <select id="typeSelection"
                                ng-model="addRoute.type"
                                required ng-options="type for type in types">

                        </select>
                    </div>

                </td>
                <td>
                    <div>
                        <label>Weight Cost : </label>
                    </div>
                </td>
                <td>
                    <div>
                        <input placeholder="{{placeHolder}}"
                               id="weightCost"
                               type="text"
                               ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"
                               ng-model="addRoute.weightCost"
                               required>
                    </div>
                </td>
                <tr>
                    <td>
                        <div>
                            <label>Volume Cost : </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input placeholder="{{placeHolder}}" id="volumeCost"
                                   type="text"
                                   ng-model="addRoute.volumeCost"
                                   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"
                                   required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>Maximum Weight : </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input placeholder="{{placeHolder}}"
                                   id="maxWeight"
                                   type="text"
                                   ng-model="addRoute.maxWeight"
                                   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"
                                   required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>Maximum Volume : </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input placeholder="{{placeHolder}}"
                                   id="maxVolume"
                                   type="text"
                                   ng-model="addRoute.maxVolume"
                                   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"
                                   required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>Duration : </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input placeholder="{{placeHolder}}"
                                   id="duration"
                                   type="text"
                                   ng-model="addRoute.duration"
                                   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"
                                   required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>Frequency : </label>
                        </div>
                    </td>
                    <td>
                        <div>
                            <input placeholder="{{placeHolder}}"
                                   id="frequency"
                                   type="text"
                                   ng-model="addRoute.frequency"
                                   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"
                                   required>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>
                        <div>
                            <label>Departs : </label>

                        </div>
                    </td>
                    <td>
                        <div>
                            <select class="select" id="departs"
                                    ng-model="addRoute.departs"
                                    required
                                    ng-options="day for day in days">
                            </select>
                        </div>
                    </td>

                </tr>
                <tr>

                    <td>

                        <!--<button type="submit" class="btn btn-success"-->
                                <!--ng-disabled="addRouteFrom.$invalid"-->
                                <!--ng-click="submit()"-->
                                <!--Submit-->
                        <!--</button>-->
                        <!--<button type="submit" class="btn btn-danger">Cancel</button>-->

                    </td>

                </tr>

            </table>
            <!--<label>{{addRoute.company}} {{addRoute.to}} {{addRoute.type}} {{addRoute.weightCost}}-->
                <!--{{addRoute.volumeCost}} </label>-->
            <!--<label>{{addRoute.maxWeight}} {{addRoute.maxVolume }} {{addRoute.duration}}{{addRoute.frequency}}-->
                <!--{{addRoute.departs}}</label>-->
        </div>

    </div>
</form>

</html>
