<!DOCTYPE html>
<html>
<meta charset="utf-8"> 
<head>
    <title>Event Log</title>
    <style>
        th, td{
            padding: 0px 5px 10px 5px;
        }
    </style>

</head>
<body>
<div ng-controller="eventLogController">
    <h2>Business Data</h2>
    <table ng-switch="current.event" style="width:400px, padding: 0px 5px 10px 5px;">
        <tr>
            <td>
                <button type="previous" class="btn btn-success" ng-click="previous()">Previous</button>
                <button type="next" class="btn btn-success" ng-click="next()">Next</button>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{current.event}}</h3>
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Company:</label> {{current.company}}
            </td>
            <td>
                <label>Type:</label> {{current.type}}
            </td>
        </tr>
        <tr ng-switch-when="Change Route">
            <td>
                <label>Company:</label> {{current.company}}
            </td>
            <td>
                <label>Type:</label> {{current.type}}
            </td>
        </tr>
        <tr ng-switch-when="Add Mail">
            <td>
                <label>To:</label> {{current.destination}}
            </td>
            <td>
                <label >From:</label> {{current.origin}}
            </td>
        </tr>
        <tr ng-switch-when="Add Mail">
            <td>
                <label>Weight:</label> {{current.weight}}
            </td>
            <td>
                <label>Volume:</label> {{current.volume}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Destination:</label> {{current.destination}}
            </td>
            <td>
                <label>Origin:</label> {{current.origin}}
            </td>
        </tr>
        <tr ng-switch-when="Change Route">
            <td>
                <label>Destination:</label> {{current.destination}}
            </td>
            <td>
                <label>Origin:</label> {{current.origin}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Weight Cost:</label> {{current.weightcost}}
            </td>
            <td>
                <label>Volume Cost:</label> {{current.volumecost}}
            </td>
        </tr>
        <tr ng-switch-when="Change Route">
            <td>
                <label>Weight Cost:</label> {{current.weightcost}}
            </td>
            <td>
                <label>Volume Cost:</label> {{current.volumecost}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Max Weight:</label> {{current.maxWeight}}
            </td>
            <td>
                <label>Max Volume:</label> {{current.maxVolume}}
            </td>
        </tr>
        <tr ng-switch-when="Change Route">
            <td>
                <label>Max Weight:</label> {{current.maxWeight}}
            </td>
            <td>
                <label>Max Volume:</label> {{current.maxVolume}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Duration:</label> {{current.duration}}
            </td>
            <td>
                <label>Frequency:</label> {{current.frequency}}
            </td>
        </tr>
        <tr ng-switch-when="Change Route">
            <td>
                <label>Duration:</label> {{current.duration}}
            </td>
            <td>
                <label>Frequency:</label> {{current.frequency}}
            </td>
        </tr>
        <tr>
            <td>
                <label>Priority:</label> {{current.priority}}
            </td>
            <td>
                <label>Day:</label> {{current.day}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Weight Price:</label> {{current.weightPrice}}
            </td>
             <td>
                <label>Volume Price:</label> {{current.volumePrice}}
            </td>
        </tr>
        <tr ng-switch-when="Change Route">
            <td>
                <label>Weight Price:</label> {{current.weightPrice}}
            </td>
            <td>
                <label>Volume Price:</label> {{current.volumePrice}}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
