<!DOCTYPE html>
<html>
<meta charset="utf-8"> 
<head>
    <title>Event Log</title>
</head>
<body>
<div ng-controller="eventLogController">
    <table ng-switch="current.event">
        <tr>
            <td>
                <label>Business Data </label>
            </td>
        </tr>
        <tr>
            <td>
                <button type="previous" class="btn btn-success" ng-click="previous()">Previous</button>
                <button type="next" class="btn btn-success" ng-click="next()">Next</button>
            </td>
        </tr>
        <tr>
            <td>
                <label>Event Type:</label> {{current.event}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Company:</label> {{current.company}}
            </td>
        </tr>
        <tr ng-switch-when="Add Mail">
            <td>
                <label>To:</label> {{current.to}}
            </td>
        </tr>
        <tr ng-switch-when="Add Mail">
            <td>
                <label >From:</label> {{current.from}}
            </td>
        </tr>
        <tr ng-switch-when="Add Mail">
            <td>
                <label>Weight:</label> {{current.weight}}
            </td>
        </tr>
        <tr ng-switch-when="Add Mail">
            <td>
                <label>Volume:</label> {{current.volume}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Destination:</label> {{current.destination}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Origin:</label> {{current.origin}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Type:</label> {{current.type}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Weight Cost:</label> {{current.weightCost}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Volume Cost:</label> {{current.volumeCost}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Max Weight:</label> {{current.maxWeight}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Max Volume:</label> {{current.maxVolume}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Duration:</label> {{current.duration}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Frequency:</label> {{current.frequency}}
            </td>
        </tr>
        <tr>
            <td>
                <label>Priority:</label> {{current.priority}}
            </td>
        </tr>
        <tr>
            <td>
                <label>Day:</label> {{current.day}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Weight Price:</label> {{current.weightPrice}}
            </td>
        </tr>
        <tr ng-switch-when="Add Route">
            <td>
                <label>Volume Price:</label> {{current.volumePrice}}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
