<!-- index.html -->
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<!-- SCROLLS -->
<!-- load bootstrap and fontawesome via CDN -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

<!-- SPELLS -->
<!-- load angular via CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="script.js"></script>
</head>
<body ng-controller="updatePriceController">

    

        <table>
        <tr>
        	<td><label>Select route for price update:
         <select ng-init="selectBox3 = selectBox3 || dataRoute[0]" ng-model="selectBox3" ng-options="datum as 'Route : ' + datum.origin + ' to ' + datum.destination + ' - ' + datum.company +' : ' + datum.priority for datum in data"></select>
         </td>
        </tr>

        <tr>
        	<td>
        		<label>Current Weight price: $ </label>{{ selectBox3.weightPrice }} 
        	</td></tr>
  			<tr><td>
  				<label>Current Volume price: $ </label> {{ selectBox3.volumePrice }} 
  			</td>
		</tr>
	


        <tr><td><label>New Weight price: </label> <input ng-model="wPrice" ng-trim="false"/> </td></tr>
        <tr><td><label>New Volume price: </label> <input ng-model="vPrice" ng-trim="false"/> </td></tr>
        <tr><td>  <button type="submit" class="btn btn-success"
                    ng-disabled="addMailItem.$invalid"
                    ng-click="submit()"
                    >Submit
            </button>
            <button type="submit" class="btn btn-danger">Cancel</button></td>
            </tr>
    </table>





</body>

</html>