<!-- index.html -->
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="updateRouteController">

<table>
    <tr>
        <td><label>Select route to update:
            <select ng-init="routeBox = routeBox || dataRoute[0]" ng-model="routeBox"
                    ng-options="datum as 'Route : ' + datum.origin + ' to ' + datum.destination + ' - ' + datum.company +' : ' + datum.priority for datum in data"></select>
        </td>
    </tr>

    <tr>
        <td>
            <label>Type: </label> {{ routeBox.type }}
        </td>
    </tr>
    <tr>
        <td>
            <label>Current Weight Cost: $ </label> {{ routeBox.weightcost }}
        </td>
    </tr>
    <tr>
        <td>
            <label>Current Volume cost: $ </label> {{ routeBox.volumecost }}
        </td>
    </tr>
    <tr>
        <td>
            <label>Current Max Weight: </label> {{ routeBox.maxWeight }} <label> kgs</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Current Max Volume: </label> {{ routeBox.maxVolume }} <label> cubic meters</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Current duration </label> {{ routeBox.duration }} <label> hours</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Current frequency of route: </label> {{ routeBox.frequency }} <label> hours</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Current shipping day: </label> {{ routeBox.day }}
        </td>
    </tr>


    <!--<tr>
        <td><label>New Weight price: </label> <input ng-model="routeBox.weightPrice" ng-trim="false" type="text"
                                                     ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/></td>
    </tr>
    <tr>
        <td><label>New Volume price: </label> <input ng-model="routeBox.volumePrice" ng-trim="false" type="text"
                                                     ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/></td>
    </tr>-->
    <tr>
        <td>
            <button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
            <button type="submit" class="btn btn-danger">Cancel</button>
        </td>
    </tr>
</table>


</body>
</html>