<!-- index.html -->
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
<!-- comment -->
    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<form name="updateRouteForm" action="" >
<body ng-controller="updateRouteController">

<table>
    <tr>
        <td><label>Select route to update:
            <select ng-init="routeBox = routeBox || dataRoute[0]" ng-model="routeBox"
                    ng-options="datum as 'Route : ' + datum.origin + ' to ' + datum.destination + ' - ' + datum.company +' : ' + datum.priority for datum in data"></select>
        </td>
    </tr>

    <tr>
        <td>
            <label>Type: </label> {{ routeBox.type }}
        </td>
    </tr>
    <tr>
        <td>
            <label>Current Weight Cost: $ </label> {{ routeBox.weightcost }}</td><td>
            <label>Update weight cost   : </label> <input ng-model="routeBox.weightcost" ng-trim ="false" type = "text"
            ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>

        </td>
    </tr>
    <tr>
        <td>
            <label>Current Volume cost: $ </label> {{ routeBox.volumecost }}</td><td>
            <label>Update volume cost: </label> <input ng-model="routeBox.volumecost" ng-trim ="false" type = "text"
            ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>

        </td>
    </tr>
    <tr>
        <td>
            <label>Current Max Weight: </label> {{ routeBox.maxWeight }} <label> kgs</label></td><td>
            <label>Update Max Weight : </label> <input ng-model="routeBox.maxWeight" ng-trim ="false" type = "text"
            ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>

        </td>
    </tr>
    <tr>
        <td>
            <label>Current Max Volume: </label> {{ routeBox.maxVolume }} <label> cubic meters</label>
            </td><td>
            <label>Update max volume : </label> <input ng-model="routeBox.maxVolume" ng-trim ="false" type = "text"
            ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>

        </td>
    </tr>
    <tr>
        <td>
            <label>Current duration </label> {{ routeBox.duration }} <label> hours</label>
        </td><td>
            <label>Update Duration___ : </label> <input ng-model="routeBox.duration" ng-trim ="false" type = "text"
            ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>

        </td>
    </tr>
    <tr>
        <td>
             <label>Current frequency of route: </label> {{ routeBox.frequency }} <label> hours </label></td><td>
            <label>Update frequency__: </label> <input ng-model="routeBox.frequency" ng-trim ="false" type = "text"
            ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/>

        </td>
    </tr>
    <tr>
        <td>
            <label>Current shipping day: </label> {{ routeBox.day }}
        </td>
    </tr>

        <tr><td>  
          <button type="submit" class="btn btn-success" ng-click="submit()" ng-model = "updateMessage" ng-disabled="updateRouteForm.$invalid">Submit</button>
          <button type="cancel" class="btn btn-danger" ng-click="cancel()" ng-model = "updateMessage">Cancel</button></td>
            </tr>

            <tr><td>
              <label> Update Status:</label> {{updateMessage}}

            </td></tr>
            <tr>

            </tr>
</table>
    <div class="kpsfooter">
    <div>
        <p ng-controller="updateRouteController">
            <label class="kp-badge" >
                Events Processed :   {{figures.events}}
            </label>
            <label class="kp-badge" >
                Items Processed :   {{figures.sysItems}} Total Weight : {{figures.sysItemsWeight}}
            </label>
            <label class="kp-badge" >
                gms Total Volume: {{figures.sysItemsVolume}} cm^3
            </label>
            <label class="kp-badge" >
                Total Revenue : $ {{figures.totalRevenue}}
            </label>
            <label class="kp-badge" >
                Total Expenditure : $ {{figures.totalExpenditure}}
            </label>
            <label class="kp-badge" >
                Average Delivery Time :  {{figures.averageTime}} Days
            </label>
            <div class = "kp-red-badge"> Routes Running At A Loss:
            <li ng-repeat="crits in figures.critRoutes">{{crits.Destination}} : {{crits.Origin}} : {{crits.Priority}} : {{crits.Difference}}
            </li>
        </div>
        </p>
    </div>
</div>

</body>
</form>
</html>