<!-- index.html -->
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<!-- SCROLLS -->
<!-- load bootstrap and fontawesome via CDN -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

<!-- SPELLS -->
<!-- load angular via CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="script.js"></script>
</head>
<form name="updatePriceForm" action="" >
<body ng-controller="updatePriceController">

    

        <table>
        <tr>
        	<td><label>Select route for price update:
         <select ng-init="priceBox = priceBox || dataRoute[0]" ng-model="priceBox" ng-click="pend()" ng-options="datum as 'Route : ' + datum.origin + ' to ' + datum.destination + ' - ' + datum.company +' : ' + datum.priority for datum in data"></select>
         </td>
        </tr>

        <tr>
        	<td>
        		<label>Current Weight price: $ </label>{{ priceBox.weightPrice }} 
        	</td></tr>
  			<tr><td>
  				<label>Current Volume price: $ </label> {{ priceBox.volumePrice }} 
  			</td>
		</tr>
	


        <tr><td><label>New Weight price: </label> <input name = "wIn" ng-model="priceBox.weightPrice" ng-trim="false" type="text" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/></td></tr>
        <tr><td><label>New Volume price: </label> <input name = "vIn" ng-model="priceBox.volumePrice" ng-trim="false" type="text" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required/> </td></tr>
        <tr><td>  
          <button type="submit" class="btn btn-success" ng-click="submit()" ng-model = "updateMessage" ng-disabled="updatePriceForm.$invalid">Submit</button>
          <button type="cancel" class="btn btn-danger" ng-click="cancel()" ng-model = "updateMessage">Cancel</button></td>
            </tr>

            <tr><td>
              <label> Update Status:</label> {{updateMessage}}

            </td></tr>
    </table>





</body>
</form>
</html>